/GCloud/Source/GCloudLib/Win/X86/GCloud.pdb filter=lfs diff=lfs merge=lfs -text
/GCloud/Source/GCloudLib/Win/X86_64/GCloud.pdb filter=lfs diff=lfs merge=lfs -text
/GCloud/Source/GCloudLib/X64/GCloud_static.lib filter=lfs diff=lfs merge=lfs -text
